@model Cinema

@{
    ViewData["Title"] = "Delete cinema";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Delete confirmation for @Model.Name</h1>
        </p>
        <div class="row">
            <div class="col-md-10 offset-1">
                <div class="mb-3 text-center">
                    <img class="border-info rounded-circle" style="max-width: 150px" id="LogoPreview" />
                </div>
                <div class="mb-3">
                    <input asp-for="Logo" class="form-control border-2" readonly type="hidden" />
                </div>
                <div class="mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control border-2" readonly />
                </div>
                <div class="mb-3">
                    <label asp-for="Description" class="form-label"></label>
                    <input asp-for="Description" class="form-control border-2" readonly />
                </div>

                <div class="mb-3 d-flex">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Confirm" class="btn btn-danger text-white" />
                    </form>
                    <a class="btn btn-secondary ms-auto" asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var output = document.getElementById('LogoPreview');
            output.src = $("#Logo").val();
        })
    </script>
}